<!--<ion-view view-title="Info">
  <ion-content ng-controller="InfoCtrl" class = "centeredText">
    <h1>{{courseName.text}}</h1>
    <img ng-src="{{courseImage}}" width="100%">
    <p>{{courseText}}</p>
  </ion-content>
</ion-view> -->

<ion-modal-view ng-controller = "InfoCtrl">


  <ion-header-bar align-title="left" class="bar bar-header bar-light">
    <h1 class="title">{{courseData.title}}</h1>
    <button class="button button-clear" ng-click="modal.hide()">Return</button>
  </ion-header-bar>

  <ion-tabs class="tabs-stable">
    <ion-tab title="Result">
      <ion-content class="has-subheader centered">
        <img ng-src="{{courseData.image}}" class = "infoSize centered">
      </ion-content>
    </ion-tab>

    <ion-tab title="About" >
      <ion-content class="has-subheader centered">
        <h1 class="centered">{{courseData.title}}</h1>
        <p class = "infoSize centered">{{courseData.text}}</p>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-modal-view>


