<!--<ion-view view-title="Info">
  <ion-content ng-controller="InfoCtrl" class = "centeredText">
    <h1>{{courseName.text}}</h1>
    <img ng-src="{{courseImage}}" width="100%">
    <p>{{courseText}}</p>
  </ion-content>
</ion-view> -->

<ion-modal-view>

  <ion-tabs ng-controller="InfoCtrl" class = "centeredText tabs-positive">
    <ion-content>
      <button class = "button icon icon-left ion-ios-close-outline"
              ng-click = "closeModal()">Close</button>
    </ion-content>
      <!-- <h1>{{courseName.text}}</h1> -->
    <ion-tab title="Result" >
      <ion-content>
        <img ng-src="{{courseData.image}}" class = "infoSize centered">
      </ion-content>
    </ion-tab>

    <ion-tab title="About" >
      <ion-content class = "card">
        <h1 class="centered">{{courseData.title}}</h1>
        <p class = "infoSize centered">{{courseData.text}}</p>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-modal-view>

