/* Empty. Add your own CSS if you like */

#inputter{
  text-align: center;
  font-size: xx-large;
  height: 150%;
}

.centeredText{
  text-align: center;
}

.centered{
  margin: auto;
  width: 75%;
}

.infoSize{
}

.courseImage{
  width: 50%;
  height: 50%;
}

.course{
  width: 40%;
  height: 20vh;
  float: left;
}
